<a href="https://colab.research.google.com/github/woranut11/BSC_DPDM2025/blob/main/Ch3_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import data

In [2]:
import pandas as pd

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
flood = pd.read_csv('/content/drive/MyDrive/data/flooding database.csv')
flood.head()

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,Heavy rain,2.0,316.73,38.0,38.0,43,1,0,-5,NaN
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,"Tropical Storm, Surge",1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,"Snowmelt, Ice, Rain",2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,Heavy rain,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0

# Data Cleaning

## Missing Data

### Check missing Data

In [5]:
flood.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country    275
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              2
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64

### Drop Recrod ที่มี missing ออก

drop ถ้ามี Missing

In [9]:
flood.shape

(913, 23)

In [10]:
flood_drop = flood.dropna()
flood_drop.shape

(13, 23)

Drop เฉพาะเกิด missing ในตัวแปรที่เราจะใช้
*   dfo_country
*   dfo_other_country
*   dfo_began
*   dfo_ended
*   dfo_dead
*   dfo_cause
*   dfo_senvrrity

In [7]:
flood_drop1 = flood.dropna()
flood_drop1.isnull().sum()

system:index         0
index                0
threshold_type       0
glide_index          0
dfo_country          0
dfo_other_country    0
dfo_centroid_x       0
dfo_centroid_y       0
dfo_began            0
dfo_ended            0
dfo_validation       0
dfo_dead             0
dfo_displaced        0
dfo_cause            0
dfo_severity         0
gfd_area             0
gfd_exp_ghsl_ts      0
gfd_exp_ghsl_2000    0
gfd_exp_ghsl_2015    0
Errors               0
dif 2000             0
dif 2015             0
error 2000           0
dtype: int64

In [ ]:
flood_drop2.head

## เติม Dummy

In [ ]:
flood.isnull(){dfo_other_country}

In [12]:
flood_filldummy = flood.fillna({'dfo_other_country': 'Unknown'})

In [13]:
flood_filldummy.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country      0
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              2
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64

## เติมด้วยค่ากลาง

In [14]:
flood.groupby('dfo_cause').count()

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_displaced,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
dfo_cause,,,,,,,,,,,,,,,,,,,,,
Dam,13,13,13,11,13,10,13,13,13,13,...,13,13,13,13,13,13,13,13,13,0
Heavy rain,749,749,749,554,749,530,749,749,749,748,...,749,749,749,748,748,749,749,749,749,16
"Snowmelt, Ice, Rain",52,52,52,45,52,45,52,52,52,52,...,52,52,52,52,52,52,52,52,52,7
"Tropical Storm, Surge",97,97,97,71,97,53,97,97,97,97,...,97,97,97,97,97,97,97,97,97,1

In [17]:
flood_fillmode = flood.fillna({'dfo_cause': 'Heavy rain'})
flood_fillmode.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country    275
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              0
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64

### เติมด้วยตัวแทนของกลุ่ม

In [19]:
flood.groupby(['dfo_severity','dfo_cause']).count()

                                    system:index  index  threshold_type  \
dfo_severity dfo_cause
1.0          Dam                               9      9               9
             Heavy rain                      464    464             464
             Snowmelt, Ice, Rain              34     34              34
             Tropical Storm, Surge            33     33              33
1.5          Dam                               3      3               3
             Heavy rain                      163    163             163
             Snowmelt, Ice, Rain               8      8               8
             Tropical Storm, Surge            26     26              26
2.0          Dam                               1      1               1
             Heavy rain                      122    122             122
             Snowmelt, Ice, Rain              10     10              10
             Tropical Storm, Surge            38     38              38

                                    glide_index  dfo_country  \
dfo_severity dfo_cause
1.0          Dam                              9            9
             Heavy rain                     390          464
             Snowmelt, Ice, Rain             29           34
             Tropical Storm, Surge           32           33
1.5          Dam                              1            3
             Heavy rain                      72          163
             Snowmelt, Ice, Rain              7            8
             Tropical Storm, Surge           12           26
2.0          Dam                              1            1
             Heavy rain                      92          122
             Snowmelt, Ice, Rain              9           10
             Tropical Storm, Surge           27           38

                                    dfo_other_country  dfo_centroid_x  \
dfo_severity dfo_cause
1.0          Dam                                    9               9
             Heavy rain                           369             464
             Snowmelt, Ice, Rain                   30              34
             Tropical Storm, Surge                 28              33
1.5          Dam                                    0               3
             Heavy rain                            67             163
             Snowmelt, Ice, Rain                    6               8
             Tropical Storm, Surge                  7              26
2.0          Dam                                    1               1
             Heavy rain                            94             122
             Snowmelt, Ice, Rain                    9              10
             Tropical Storm, Surge                 18              38

                                    dfo_centroid_y  dfo_began  dfo_ended  ...  \
dfo_severity dfo_cause                                                    ...
1.0          Dam                                 9          9          9  ...
             Heavy rain                        464        464        463  ...
             Snowmelt, Ice, Rain                34         34         34  ...
             Tropical Storm, Surge              33         33         33  ...
1.5          Dam                                 3          3          3  ...
             Heavy rain                        163        163        163  ...
             Snowmelt, Ice, Rain                 8          8          8  ...
             Tropical Storm, Surge              26         26         26  ...
2.0          Dam                                 1          1          1  ...
             Heavy rain                        122        122        122  ...
             Snowmelt, Ice, Rain                10         10         10  ...
             Tropical Storm, Surge              38         38         38  ...

                                    dfo_dead  dfo_displaced  gfd_area  \
dfo_severity dfo_cause
1.0          Dam                           9              9         9
             Heavy rain                  464            464       464
             Snowmelt, Ice, Rain          34             34        34
             Tropical Storm, Surge        33             33        33
1.5          Dam                           3              3         3
             Heavy rain                  163            163       163
             Snowmelt, Ice, Rain           8              8         8
             Tropical Storm, Surge        26             26        26
2.0          Dam                           1              1         1
             Heavy rain                  122            122       122
             Snowmelt, Ice, Rain          10             10        10
             Tropical Storm, Surge        38             38        38

                                    gfd_exp_ghsl_ts  gfd_exp_ghsl_2000  \
dfo_severity dfo_cause
1.0          Dam                                  9                  9
             Heavy rain                         463                464
             Snowmelt, Ice, Rain                 34                 34
             Tropical Storm, Surge               33                 33
1.5          Dam                                  3                  3
             Heavy rain                         163                162
             Snowmelt, Ice, Rain                  8                  8
             Tropical Storm, Surge               26                 26
2.0          Dam                                  1                  1
             Heavy rain                         122                122
             Snowmelt, Ice, Rain                 10                 10
             Tropical Storm, Surge               38                 38

                                    gfd_exp_ghsl_2015  Errors  dif 2000  \
dfo_severity dfo_cause
1.0          Dam                                    9       9         9
             Heavy rain                           464     464       464
             Snowmelt, Ice, Rain                   34      34        34
             Tropical Storm, Surge                 33      33        33
1.5          Dam                                    3       3         3
             Heavy rain                           163     163       163
             Snowmelt, Ice, Rain                    8       8         8
             Tropical Storm, Surge                 26      26        26
2.0          Dam                                    1       1         1
             Heavy rain                           122     122       122
             Snowmelt, Ice, Rain                   10      10        10
             Tropical Storm, Surge                 38      38        38

                                    dif 2015  error 2000
dfo_severity dfo_cause
1.0          Dam                           9           0
             Heavy rain                  464           8
             Snowmelt, Ice, Rain          34           6
             Tropical Storm, Surge        33           1
1.5          Dam                           3           0
             Heavy rain                  163           4
             Snowmelt, Ice, Rain           8           0
             Tropical Storm, Surge        26           0
2.0          Dam                           1           0
             Heavy rain                  122           4
             Snowmelt, Ice, Rain          10           1
             Tropical Storm, Surge        38           0

[12 rows x 21 columns]

In [22]:
flood_sever1=flood[flood['dfo_severity']==1.0]
flood_sever15=flood[flood['dfo_severity']==1.5]
flood_sever2=flood[flood['dfo_severity']==2.0]

In [23]:
flood_sever1=flood_sever1.fillna({'dfo_cause': 'Heavy rain'})
flood_sever15=flood_sever15.fillna({'dfo_cause': 'Heavy rain'})
flood_sever2=flood_sever2.fillna({'dfo_cause': 'Tropical Storm, Surge'})

In [24]:
flood_fillgroup = pd.concat([flood_sever1,flood_sever15,flood_sever2])

In [25]:
flood_fillgroup.isnull().sum()

system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country    275
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              0
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dtype: int64